.maincontainer{
  background: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
}

#movie-logo{
  background: #ff7f7f;
  height: 35px;
  width: 35px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(180deg);
  }
}

#btn1{
  margin-right: 5px;
}

.dispNone{
  display: none;
}

.dispBlock{
  display: block;
}

.red{
  color: red;
}

#user-login{
  position: relative;
  left: 25%;
  text-align: center;
  width: 80px;
  margin-bottom: 20px;
}
